/* google font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    font-family: "Inter", sans-serif;
    max-width: 1420px;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.btn {
    color: white;
    background-color: #FF136F;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;


}